body {
    background-color: #171d22;
    margin: auto;
    max-width: 500px;
}

h1 {
    color: snow;

}

.button {
    background-color: greenyellow;
}

.button2 {
    background-color: red;
}